@import '~styles/variables';

.contributor-container {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0 2px 5px transparentize(#000, 0.95);
  padding: 10px;
  margin-bottom: 15px;
  background: #fff;

  &:first-child {
    background-color: gold;
  }

  &:nth-child(2) {
    background-color: silver;
  }

  &:nth-child(3) {
    background-color: #c9ae5d;
  }

  .author {
    display: flex;
    align-items: center;

    .author-avatar,
    .default-avatar {
      border-radius: 999px;
      margin-right: 10px;
      width: 34px;
    }

    .default-avatar {
      height: 34px;
      background-color: #e2e2e2;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px dashed #c0c0c0;
    }

    a {
      text-decoration: none;
    }
  }

  .count {
    display: flex;
    align-items: center;
  }
}
