.tag-list {
  line-height: 28px;

  .tag {
    margin-right: 10px;
    font-size: 1.2em;
    display: inline-block;
  }
}

.back {
  font-size: 2em;
  display: block;
  margin-bottom: 10px;
}

.tags-page {
  flex-grow: 1;
}
