body {
  margin: 0;
  background: #f1f3f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'IBM Plex Sans', sans-serif;
}

.container {
  width: 700px;
  margin: 10px auto;
}
