@import '~styles/variables';

.title {
  font-size: 1.4em;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 20px;
  position: relative;
  text-transform: uppercase;

  &:after {
    background: $primary-color;
    content: '';
    display: block;
    height: 5px;
    left: 50%;
    position: absolute;
    top: calc(100% + 7px);
    transform: translateX(-50%);
    width: 90px;
  }
}
