.header {
  text-align: center;

  .title {
    font-weight: 500;
    font-size: 2.5em;
    margin-bottom: 10px;
  }

  nav {
    margin-top: 20px;

    > a {
      text-transform: uppercase;
      margin-right: 20px;
      font-size: 1.1em;
      font-weight: 400;
      letter-spacing: 1px;
      text-decoration: none;
      color: #666;
    }
  }
}
