@import '~styles/variables';

.header {
  text-align: center;

  .title {
    font-weight: bolder;
    font-size: 4em;
    margin: 30px 0 10px;
    color: #333;
  }

  nav {
    margin-top: 20px;

    > a {
      text-transform: uppercase;
      margin-right: 20px;
      font-size: 1.1em;
      font-weight: 400;
      letter-spacing: 1px;
      text-decoration: none;
      color: #666;

      &.active {
        color: $primary-link-color;
      }
    }
  }
}
