.header {
  text-align: center;

  .title {
    font-weight: 800;
    font-size: 2.5em;
    margin-bottom: 10px;
    font-style: italic;
    color: #8cba4e;
  }

  nav {
    margin-bottom: 20px;
    & > a {
      padding-right: 10px;
      font-size: 1.3em;
      text-decoration: none;
    }
  }
}
