@import '~styles/variables';

.footer {
  font-size: 0.9em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px dashed darken(#f0f0f0, 5%);

  .how-to {
    grid-column: 1 / 2;

    h4 {
      margin: 0 0 5px;
      font-weight: 500;
    }

    code {
      padding: 4px 5px;
      border-radius: 5px;
      font-size: 0.8em;
      font-family: $code-font;
      background: transparentize(#fff, 0.7);

      strong {
        color: #d84f59;
      }
    }
  }

  .author {
    grid-column: 3 / 4;
    text-align: right;

    .source {
      color: #666;
      font-size: 1.1em;
      font-weight: 500;
      display: grid;
      align-items: center;
      justify-content: end;
      grid-gap: 5px;
      grid-auto-flow: column;
      margin-top: 10px;
      text-decoration: none;
    }
  }
}
